@import url("boilerplate.css");
@import url("leaflet.css");
@import url("MarkerCluster.Default.css");

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}